<h1>Admin Dashboard</h1>

<a href="/admin/generate">Regenerate All Static HTML Files</a>
<br>
<a href="/admin/potential">Potential Unindexed Files</a>
<br>
<a href="/admin/needfix">Files That Might Need To Be Fixed</a>
<br>
<a href="/admin/remove404">Remove Potential Files That 404</a>

<h2>ML</h2>
<h3>Bayesian</h3>
<a href="/admin/ml/bayesian/train">Retrain ML File Classifiers</a>

<h3>Google</h3>
<a href="/admin/ml/google/train">Retrain Google Cloud ML File Classifiers</a>
<br>
<a href="/admin/ml/google/accuracy">Google Cloud ML Accuracy</a>
<br>
<a href="/admin/ml/google/inferpotential">Infer potential file labels</a>
