<style>
body {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6, header {
  font-family: 'Roboto Slab', sans-serif;
}
header {
  width: 100%;
  padding: 0 20px;
  background-color: black;
  color: white;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  position: fixed;
}
header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.title {
  font-size: 1.2em;
}
</style>
<header>
<a class="title" href="/admin/">Exambot Admin Panel</a>
<a href="/admin/potential">Potential</a>
<a href="/admin/needfix">Needfix</a>
</header>
