<style>
well {
  display: flex;
  flex-direction: column;
  height: 100%;
}
article {
  display: flex;
  flex-grow: 10000;
}
article > div {
  padding: 16px;
}
iframe {
  flex-grow: 10000;
}
.detected {
  color: red;
  margin: 0;
}
</style>

<well>
<header>
  <h1><a href="/admin/potential">All</a> / {{ .File.Name }}</h1>
  <a href="{{ .File.Source }}">{{ .File.Source }}</a>
  <a href="{{ .FileURL }}">{{ .File.Path }}</a>
</header>

<article>
  <div>
    <h2>Controls</h2>
    <form method="POST">
      <label>Name</label>
      <p class="detected">Detected: {{.DetectedName}}</p>
      <br>
      <select name="quickname" size="17">
        <option></option>
        {{ $predicted := .DetectedName }}
        {{ $fname := .File.Name }}
        {{ range $name := .QuickNames }}
        <option value="{{$name}}" {{if and (eq $name $predicted) (not $fname)}}selected{{end}}>{{$name}}</option> {{ end }}
      </select>
      <br>
      <input type="text" name="name" value="{{.File.Name}}">
      <br>
      <br>
      <label>Course</label>
      <select name="course">
        <option value="">Select Course Code</option>
        {{ $predicted := .Course }}
        {{ range $course, $v := .Courses }}
        <option value="{{$course}}" {{if eq $course $predicted}}selected{{end}}>{{$course}}</option>
        {{ end }}
      </select>
      <br>
      <br>
      <label>Year</label>
      <input type="number" name="year" value="{{.Year}}">
      <br>
      <br>
      <label>Term</label><br>
      <p class="detected">Detected: {{.DetectedTerm}}</p>
      <select name="term" size=4>
        <option value="">Select Term</option>
        {{ $predicted := .Term }}
        {{ range $term := .Terms }}
        <option {{if eq $term $predicted}}selected{{end}}>{{ $term }}</option>
        {{ end }}
      </select>
      <br>
      <br>
      <input type="submit" value="Classify">
    </form>
    <form method="POST">
      <p>If the file is invalid, or not an exam please click below.</p>
      <input type="hidden" name="invalid" value="true">
      <input type="submit" value="Not An Exam / Invalid">
    </form>
  </div>
  <iframe src="{{ .FileURL }}">
  </iframe>
</article>
</well>
